input{
    font-size: 30px;
    border: 1px solid black;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
 }
 center{
     padding: 100px;
     height: 20px;
 }
 table {
     width: 200px;
     table-layout:fixed;
     border-collapse: collapse;
    
 }
 
 th, td {
     border: 1px solid #ccc;
     text-align: center;
     padding: 8px;
 }
 
 th {
     background-color: #f4f4f4;
 }
 
 div{
     border: 1px solid black;
     width: 300px;
     height: 300px;
     background-color: rgb(84, 106, 52);
 
 }
 body{
     background-color: rgb(71, 107, 107);
 }
 button{
     background-color: rgb(38, 38, 101);
     border-radius: 5px;
     color: aliceblue;
     }